<h1>Edit a Trade</h1>

<% if @trade.errors.any? %>
<ul>
    <% @trade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>
<%= form_for @trade do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.submit "Set" %>
    </p>

<% end %>

<%= link_to "Back to Trades Listing", trades_path %>